# Ignore all files with the specified name.
# Scope is all repo folders.

.git/
.venv/*
__pycache__/
data/
deprecated/
db/
Lehrpläne/
other-files/
saved/*
Test/
.venv/



student_data/students.csv
kompetenzen.db
